@import url('https://fonts.googleapis.com/css2?family=Candal&family=Pixelify+Sans&family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Candal", sans-serif;
}

header{
    width: 100%;
    height:10vh;
    min-height: 150px;
    background-color: rgb(52, 52, 52);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    border-bottom: 2px solid black;

}
.sort{
    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    transition: all linear 0.2s;
}

.sort_area{
    text-align: center;
}
#sort_btn{
    display: block;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-inline: 20px;
    margin-bottom: 20px;
}
#title{
    font-size: 2em;
    color: white;
}
#title img{
    width:350px;
    padding-top:20px;
}


#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-block:20px ;
    background: rgb(64,149,184);
    background: linear-gradient( rgba(64,149,184,1) 0%, rgba(151,191,254,1) 100%);

}

.track{
    justify-content: space-between;
    align-items: end;
    position: relative;

    background-color: white;
    border:2px solid rgb(35, 35, 35);
    width: 50%;
    min-width: 400px;
    margin:10px;
    padding: 20px;
    transition: all linear 0.1s;

    border-radius: 10px;
}
.track:hover{
    box-shadow: 10px 10px 10px;
}

.track_title{
    font-size: 1.2em;
    font-weight: bold;
}

.track_download{
    position: absolute;
    bottom: 22px;
    right: 10px;
}
.track_download a{
    background-color: black;
    padding: 10px 10px 12px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.2s;
}
.track_download a:hover{
    color: rgb(51, 160, 206);
}
.track_download a:visited{
    color: rgb(84, 84, 84);
}

.track_desc{
    display: flex;
    flex-direction: row;

    padding: 10px;

    align-items: center;
}


.track_image img{
    height:100px;
    background-position: center;
    background-size: cover;
    min-width: 50px;
    margin-right: 20px;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 10px;
}





/* footer */
footer{
    display: flex;

    width: 100%;
    background-color: rgb(52, 52, 52);
    border-top: 2px solid black;
    height: 100px;
    color: white;

    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.instagram_text{
    position: relative;
    font-size: 1.8em;
}
.instagram_text:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    background:-webkit-linear-gradient(right, orange, rgba(180, 0, 180, 0.548));
    transition: transform 0.25s ease-out; 
}
.instagram_text:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 800px) {

    .track{
        width: 70%;
        min-width: 350px;
        padding-left: 10px;
    }

    .track_image img{
        height:70px;
    }

    .track_desc{
        flex-direction: column;
        align-items: start;
    }

    .track_download{
        top:20px;
    }

    .sort{
        font-size: 0.8em;
    }
    #title img{
        width:200px;
    }
}

